<!DOCTYPE html>
<html>

<head>
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/owl.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/templatemo-sixteen.css">
</head>

<body>
  <!--  Preloader Start   -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <!--  Preloader End  -->
  </div>
  <!--header-->
  <header class="">
    <%- include('navbar') %>
  </header>

  <div class="show1 header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>Show
            </h4>
            <h2>
              <%=name[0].ShowName%>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>
              <%=name[0].ShowName%>
            </h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="/images/23.jpg" alt="">
          </div>
        </div>

        <div class="col-md-6">
          <div class="left-content">
            <h4>
              <%=name[0].ShowName%>
            </h4>
            <P>รอบการแสดง : <%= name[0].DateTime %>
            </P>
            <p>รายละเอียด <br>
              <%=name[0].Desc%>
            </p>
            <div>Purchase limit 6 tickets for 1 person</div>



            <ul class="accordion">
              <% name.forEach ( function (name, index ) { if (name.Capacity> 0) {
                %>
                <form action="/BuyTicket1" method="get">
                  <li>
                    <a>Zone <%= name.ZoneName %> <br>
                        <input type="text" hidden name="ZoneName" value="<%= name.ZoneName %>">
                        <input type="text" hidden name="DateTime" value="<%= name.DateTime %>">
                        <h6>
                          <%= name.Capacity %> Seat(s) remaining
                            <input type="text" hidden name="Capacity" value="<%= name.Capacity %>">
                        </h6> </a>

                    <div class="text-right">
                      <h6>
                        <%= name.ZonePrice %> BTH
                          <input type="text" hidden name="ZonePrice" value="<%= name.ZonePrice %>">
                      </h6>
                    </div>
                    <div class="content">
                      <div class="form-group col-md-4">
                        <label for="inputState">Select the number of ticket(s)</label>
                        <select id="inputState" name="ZoneNumber" class="form-control">

                          <option value="1" selected>1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                        <button type="submit" class="filled-button">Submit</button>
                      </div>
                    </div>
                  </li>
                </form>
                <% } });%>
            </ul>
            <div class="text-center">

            </div>



          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>SoulOut &copy; SoulOut Company Limited </br>
            <p>3199 Maleenont Tower, 27th Floor, Rama IV Road,
              Klongton , Klongtoey, Bangkok 10110</p>

          </div>
        </div>
      </div>
    </div>
  </footer>



  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="/javascripts/custom.js"></script>
  <script src="/javascripts/owl.js"></script>
  <script src="/javascripts/slick.js"></script>
  <script src="/javascripts/isotope.js"></script>
  <script src="/javascripts/accordions.js"></script>


  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>


</body>

</html>